[core]
        autocrlf = input
        editor = nano
[color]
        ui = true
[alias]
        # https://github.com/brauliobo/gitconfig/blob/master/configs/.gitconfig#L274
        change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
